<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Ma World?!'
            }
        });
    </script>
    <div id="description">
       <a v-bind:href="descriptionLink" >{{ description }}</a>
    </div>
    <script>
        var app = new Vue({
            el: '#description',
            data: {
                description: 'hello world is an apologize word that how to train your dragon',
                descriptionLink: 'https://www.youtube.com'
            }
        });
    </script>

</body>

</html>